
<p class="loggedInAs">
  Logged in as: <span class="loggedUser">{{user.username}}</span>
  <a href="/admin/warehouse" class="adminBackBtn">Back</a>
</p>


    <div class="row"> <!-- Row -->
    <div class="col s3">
      <div class="mainMenu"> <!-- Main menu -->
        <ul>
          <li class="mainMenuLink">
            <a class="links" href="/admin/home">Home</a>
          </li>
          <li class="mainMenuLink activeLink">
            <a class="links" href="/admin/warehouse">Warehouse</a>
          </li>
          <li class="mainMenuLink">
            <a class="links" href="/admin/manage_users">Manage users</a>
          </li>
        </ul>
      </div> <!-- /.Main Menu -->
    </div>
    <div class="col s9"> <!-- Page Content -->
        <h2>Edit storage: {{storage.name}}</h2>

        <form class="formEditStorage" action="/admin/warehouse/storage/{{storage._id}}/edit" method="post">
          <div class="input-field col s12">
            <h5>Storage name:</h5>
            <input type="text" name="newStorageName" id="inputNewStorageName" value="{{storage.name}}">
          </div>
          <div class="input-field col s12">
            <h5>Last updated:</h5>
            <input type="text" name="updatedDate" value="{{storage.updated_date}}" readonly>
          </div>
          <div>
            <button type="submit" class="waves-effect waves-light btn">Save</button>
          </div>
        </form>


    </div> <!-- /.Page Content -->
</div> <!-- /.Row -->



  <!-- Create basic menu  -->
