<p>
  <a href="/admin/tables/table/{{table._id}}"><i class="material-icons">autorenew</i></a> |
  <a href="/admin/tables">Back</a>
</p>

<h3>Table: {{table.number}}</h3>
<a href="#" data-id="{{table._id}}" class="deleteTableBtn waves-effect waves-light btn">Remove</a>

<form class="singleTableOrderForm" method="post">
  <div>
    <p>Article:
      <select class="selectArticleDropdown">
        {{#each articlesResponse.articles as |article|}}
          <option value="{{name}}">{{name}} ({{quantity}})</option>
        {{/each}}
      </select>
    </p>
  </div>
  <div class="timesWhatOrder">
    <p>X</p>
    <input type="number" class="inputOrderArticleNumber" name="orderArticleQuantity">
  </div>
  <br>
  <button type="submit" class="finishOrder waves-effect waves-light btn">Finish Order</button>
</form>
