<p>
  <a href="/admin/tables/table/{{table._id}}"><i class="material-icons">autorenew</i></a> |
  <a href="/admin/tables">Back</a>
</p>

<h4 class="tableHeading">Table: {{table.number}}</h4>
<a href="#" data-id="{{table._id}}" class="deleteTableBtn waves-effect waves-light btn">Remove</a>
<br>
<br>
<div class="createOrderDiv">
  <form class="" action="/admin/table/{{table._id}}/createNewOrder" method="post">
    <label class="labelForOrderName" for="orderName">Order name:</label>
    <input type="text" name="newOrderName" id="orderName" class="newOrderNameInput">
    <button type="submit" class="createOrderBtn">Create order</button>
  </form>
</div>
<br>
<br>
<!-- Orders from db-->
<button type="button" class="addInputField"  onclick="addArticleInput()">+</button>
<div class="listOfOrders">
    {{#each ordersResponse.orders as |order|}}
      <ul class="collection reservedArticlesUl">
        {{#each ../reservedArticlesResponse.addedArticles as |addedArticle|}}
        <li class="collection-item reservedArticlesLi">
          Reserved: {{name}} <br>
          Quantity: {{quantity}}
        </li>
        {{/each}}
      </ul>

    <form id="currentOrderForm" class="currentOrder collection" action="">
      <h5 class="orderHeading">Order: {{name}}</h5>
      <a href="#" class="deleteOrderBtn" data-name="{{name}}" data-id="{{_id}}">Delete order</a>
      <!-- Forms for adding articles are here -->
    </form>
    {{/each}}
</div>

<div class="singleTableArticleSearch">
  <form id="singleTableSearchArticlesForm">
    <input type="text" id="searchArticleSingleTableInput" placeholder="Search.."/>
  </form>
</div>

<div>
  <ul id="singleTableArticleList" class="collection singleTableArticleList">
    {{#each articlesResponse.articles as |article|}}
      <li class="collection-item singleTableArticleLi">
        <a href="/admin/table/addArticle/{{_id}}">
          <span id="articleNameSingleTable">{{name}}</span>
           - ({{quantity}})
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<script>
  // Search Articles in single table
  let articleListSingleTable = document.querySelector('#singleTableArticleList');
  let searchSingleTable = document.getElementById('searchArticleSingleTableInput');

  searchSingleTable.addEventListener('keyup', function(e) {
    let term = e.target.value.toLowerCase();
    let articles = articleListSingleTable.getElementsByTagName('li');
    Array.from(articles).forEach(function(article) {
      let articleName = article.querySelector('#articleNameSingleTable').textContent;
      // Display matching articles with colored background
      if(articleName.toLowerCase().indexOf(term) != -1){
        article.style.display = 'block';
        article.style.backgroundColor = 'LightGrey';
      }else{
        // Hide unmatching articles
        article.style.display = 'none';
      }
      if(term == ''){
        article.style.backgroundColor = '';
      }
    });
  });

  // Add article in order list
  function addArticleInput() {
    const selectedForm = document.getElementById('currentOrderForm');

    // Form element
    const form = document.createElement("form");
    form.setAttribute('action', '/admin/order/addArticleToOrder');
    form.setAttribute('method', 'post');
    form.className = 'articleInputForm';

    // Input element
    const input = document.createElement('input');
    input.setAttribute('type', 'text');
    input.setAttribute('name', 'addedArticleName');
    input.setAttribute('value', '');
    input.className = 'addedArticleInput'
    input.id = 'addedArticleId';

    // Create div
    const div = document.createElement('div');
    div.className = 'addedArticleDiv collection-item';
    div.id = 'addedArticleDiv';
    // Create article image
    const img = document.createElement('img');
    img.className = 'addedArticleImg';
    // Create X
    const p = document.createElement('p');
    p.className = 'timesSign';
    const txt = 'X';
    const xSign = document.createTextNode(txt);
    p.appendChild(xSign);
    // Create quantity field
    let qtyInput = document.createElement('input');
    qtyInput.setAttribute('type', 'number');
    qtyInput.setAttribute('value', '0');
    qtyInput.setAttribute('name', 'addedArticleQuantity');
    qtyInput.className = 'qtyInput';
    // qtyInput.setAttribute("maxLength", 2);

    // Cancel Button
    // <button type="button" id="cancelArticleBtn" class="cancelArticleBtn" onclick="cancelArticleInput()">X</button>
    const cancelBtn = document.createElement('button');
    cancelBtn.className = 'cancelArticleBtn';
    cancelBtn.id = 'cancelArticleBtn';
    const cancelBtnTxt = 'x';
    const cancelBtnTxtNode = document.createTextNode(cancelBtnTxt);
    cancelBtn.appendChild(cancelBtnTxtNode);
    cancelBtn.setAttribute('type', 'button');
    cancelBtn.setAttribute('onclick', 'cancelArticleInput()');

    // Submit Button
    let submitBtn = document.createElement('button');
    submitBtn.className = 'submitArticleBtn';
    submitBtn.id = 'submitArticleBtn';
    let submitBtnTxt = 'Ok';
    let submitBtnTxtNode = document.createTextNode(submitBtnTxt);
    submitBtn.appendChild(submitBtnTxtNode);
    submitBtn.setAttribute('type', 'submit');
    // submitBtn.setAttribute('onclick', 'submitArticleInput()');

    form.appendChild(input);
    form.appendChild(p);
    form.appendChild(qtyInput);
    form.appendChild(cancelBtn);
    form.appendChild(submitBtn);
    div.appendChild(img);
    div.appendChild(form);
    selectedForm.appendChild(div);

  };

  function cancelArticleInput() {
    let parent = document.getElementById('currentOrderForm');
    let child = document.getElementById('addedArticleDiv');
    parent.removeChild(child);
  };

  function submitArticleInput() {

  };


  // $(document).ready(function() {
  //
  // });
</script>
