<p>
  <a href="/admin/tables/table/{{table._id}}"><i class="material-icons">autorenew</i></a> |
  <a href="/admin/tables">Back</a>
</p>

<h4 class="tableHeading">Table: {{table.number}}</h4>
<a href="#" data-id="{{table._id}}" class="deleteTableBtn waves-effect waves-light btn">Remove</a>
<br>
<br>
<div class="createOrderDiv">
  <form class="" action="/admin/table/{{table._id}}/createNewOrder" method="post">
    <label class="labelForOrderName" for="orderName">Order name:</label>
    <input type="text" name="newOrderName" id="orderName" class="newOrderNameInput">
    <button type="submit" class="createOrderBtn">Create order</button>
  </form>
</div>
<br>
<br>
<button type="button" class="addInputField"  onclick="addArticleInput()">+</button>
<!-- List of orders -->
<div class="listOfOrders">
    {{#each ordersResponse.orders as |order|}}

    <div class="singleOrder">
      <div id="currentOrderForm" class="collection">
        <input id="inWhichOrderId" class="inWhichOrder" name="inWhichOrder" value="{{_id}}">

        <h4 class="orderHeading">Order: {{name}}</h4>
        <a href="#" class="deleteOrderBtn" data-name="{{name}}" data-id="{{_id}}">Delete order</a>
        <!-- Forms for reserving articles -->
        <div class="reservedArticleDiv collection-item" id="reservedArticleDiv">
          <form class="articleInputForm" action="/admin/order/reserve-article" method="post">
            <img id="previewReservingImage" class="reserveArticleImg">
            <!-- Dropdown for articles -->
            <div class="input-field col reservedArticleInput">
              <select id="dropdwn">
                <option value="" disabled selected>Select</option>
                {{#each ../articlesResponse.articles as |article|}}
                  <option class="optionn" value="{{name}}" data-img="/../../{{image}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <p class="timesSign">X</p>
            <input type="number" value="0" name="reservedArticleQuantity" class="qtyInput">
            <button type="button" class="cancelArticleBtn" id="cancelArticleBtn" onclick="cancelArticleInput()">x</button>
            <button type="submit" class="submitArticleBtn" id="submitArticleBtn">Reserve</button>
          </form>
        </div>
      </div>

      <!-- List of reserved articles -->
      <ul class="collection reservedArticlesUl">
        <h5>Reserved</h5>
        {{#each ../reservedArticlesResponse.reservedArticles as |reservedArticle|}}
        <li class="collection-item reservedArticleLi">
          <img src="{{img}}" class="reservedArticleImg">
          <p class="reservedArticleInfo">
            Reserved: {{name}} <br>
            Quantity: {{quantity}}
          </p>
          <div>
            <a href="#" class="deleteReservedArticle waves-effects btn red lighten-1" data-id="{{_id}}">X</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>

    {{/each}}
</div>

<div class="singleTableArticleSearch">
  <form id="singleTableSearchArticlesForm">
    <input type="text" id="searchArticleSingleTableInput" placeholder="Search.."/>
  </form>
</div>

<div>
  <ul id="singleTableArticleList" class="collection singleTableArticleList">
    {{#each articlesResponse.articles as |article|}}
      <li class="collection-item singleTableArticleLi">
        <a href="/admin/table/addArticle/{{_id}}">
          <span id="articleNameSingleTable">{{name}}</span>
           - ({{quantity}})
        </a>
      </li>
    {{/each}}
  </ul>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  // Get value from dropdown and assign article value
  let getDropdown = document.getElementById('dropdwn');
  getDropdown.addEventListener('change', function(){
    let getVal = document.getElementById('dropdwn').value;
    console.log(getVal);
    getDropdown.setAttribute('name', 'reservedArticleName');
    getDropdown.value = getVal;

    // Get preview image
    let nImg = document.getElementById('dropdwn');
    let getAttrib = $(this).find(':selected').data('img');
    let previewImage = document.getElementById('previewReservingImage');
    const imgUrl = `/../../../${getAttrib}`;
    previewImage.src = imgUrl;
    console.log(imgUrl);
  });


  // Search Articles in single table
  let articleListSingleTable = document.querySelector('#singleTableArticleList');
  let searchSingleTable = document.getElementById('searchArticleSingleTableInput');

  searchSingleTable.addEventListener('keyup', function(e) {
    let term = e.target.value.toLowerCase();
    let articles = articleListSingleTable.getElementsByTagName('li');
    Array.from(articles).forEach(function(article) {
      let articleName = article.querySelector('#articleNameSingleTable').textContent;
      // Display matching articles with colored background
      if(articleName.toLowerCase().indexOf(term) != -1){
        article.style.display = 'block';
        article.style.backgroundColor = 'LightGrey';
      }else{
        // Hide unmatching articles
        article.style.display = 'none';
      }
      if(term == ''){
        article.style.backgroundColor = '';
      }
    });
  });

  // Cancel reserving article
  function cancelArticleInput() {
    let parent = document.getElementById('currentOrderForm');
    let child = document.getElementById('reservedArticleDiv');
    parent.removeChild(child);
  };

  // Initialize materialize dropdown
  document.addEventListener('DOMContentLoaded', function() {
    let options;
    let elems = document.querySelectorAll('select');
    let instances = M.FormSelect.init(elems, options);
  });

  // Preview Image for currently reserving article
  // let getDrop = document.getElementById('dropdwn');
  // getDrop.addEventListener('click', function(e){
  //
  //   let newImgPath  = e.target.getAttribute('data-img');
  //
  //   let previewImage = document.getElementById('previewReservingImage');
  //   previewImage.src = newImgPath;
  //   console.log(newImgPath);
  // });
</script>
