<p>
  <a href="/admin/tables/table/{{table._id}}"><i class="material-icons">autorenew</i></a> |
  <a href="/admin/tables">Back</a>
</p>

<h4 class="tableHeading">Table: {{table.number}}</h4>
<a href="#" data-id="{{table._id}}" class="deleteTableBtn waves-effect waves-light btn">Remove</a>
  <br>
  <br>
  <button class="addInputField" type="button" onclick="addArticleInput()">
    <i class="material-icons">add</i>
  </button>
  <br>
  <br>
  <div class="currentOrder">
    <h4 class="orderHeading">Order</h4>
    <hr class="orderHeadingUnderline">
    <form id="currentOrderForm" class="currentOrderList" method="post" action="/orderArticle">

    </form>
    {{#each orderedArticles as |orderedArticle|}}
    {{/each}}
  </div>

<div class="singleTableArticleSearch">
  <form id="singleTableSearchArticlesForm">
    <input type="text" id="searchArticleSingleTableInput" placeholder="Search.."/>
  </form>
</div>

<div>
  <ul id="singleTableArticleList" class="collection singleTableArticleList">
    {{#each articlesResponse.articles as |article|}}
      <li class="collection-item singleTableArticleLi">
        <a href="/admin/table/addArticle/{{_id}}">
          <span id="articleNameSingleTable">{{name}}</span>
           - ({{quantity}})
        </a>
      </li>
      <!--
        /admin/tables/table/{{table._id}}/addArticle/{{_id}}
      -->
    {{/each}}
  </ul>
</div>

<script>
  // Search Articles in single table
  let articleListSingleTable = document.querySelector('#singleTableArticleList');
  let searchSingleTable = document.getElementById('searchArticleSingleTableInput');

  searchSingleTable.addEventListener('keyup', function(e) {
    let term = e.target.value.toLowerCase();
    let articles = articleListSingleTable.getElementsByTagName('li');
    Array.from(articles).forEach(function(article) {
      let articleName = article.querySelector('#articleNameSingleTable').textContent;
      // Display matching articles with colored background
      if(articleName.toLowerCase().indexOf(term) != -1){
        article.style.display = 'block';
        article.style.backgroundColor = 'LightGrey';
        // Hide unmatching articles
      }else{
        article.style.display = 'none';
      }
      if(term == ''){
        article.style.backgroundColor = '';
      }
    });
  });

  // Add article in order list
  function addArticleInput() {
    const form = document.getElementById('currentOrderForm');
    let input = document.createElement("input"); // Input element
    input.setAttribute('type',"text");
    input.setAttribute('name',"orderedArticle");
    input.setAttribute('value',"some article name");
    input.className = 'collection-item addedArticleInput'
    // input.setAttribute('readonly', "readonly");
    input.id = 'addedArticleId';

    if(form.className != 'currentOrderList collection') {
      form.className += ' collection';
    }

    // Create div
    let div = document.createElement("div");
    div.className = 'addedArticleDiv';
    // Create article image
    let img = document.createElement("img");
    img.className = 'addedArticleImg';
    img.style.backgroundColor = 'grey';
    // Create X
    let p = document.createElement("p");
    p.className = 'timesSign';
    let txt = 'X';
    let xSign = document.createTextNode(txt);
    p.appendChild(xSign);
    // Create quantity field
    let qtyInput = document.createElement("input");
    qtyInput.setAttribute("type", "number");
    qtyInput.setAttribute("value", "0");
    qtyInput.className = 'qtyInput';
    // qtyInput.setAttribute("maxLength", 2);

    div.appendChild(img);
    div.appendChild(input);
    div.appendChild(p);
    div.appendChild(qtyInput);
    form.appendChild(div);
  };

  $(document).ready(function() {

  });
</script>
