
<p class="loggedInAs">
  Logged in as: <span class="loggedUser">{{user.username}}</span>
  <a href="/admin/warehouse" class="adminBackBtn">Back</a>
</p>

    <div class="row"> <!-- Row -->
    <div class="col s3">
      <div class="mainMenu"> <!-- Main menu -->
        <ul>
          <li class="mainMenuLink"><a class="links" href="/admin/home">Home</a></li>
          <li class="mainMenuLink activeLink"><a class="links" href="/admin/warehouse">Warehouse</a></li>
          <li class="mainMenuLink"><a class="links" href="/admin/manage_users">Manage users</a></li>
        </ul>
      </div> <!-- /.Main Menu -->
    </div>

    <div class="col s9"> <!-- Page Content -->
        <h4>Storage name: {{storage.name}}</h4>

          <form class="formCreateArticle" action="/admin/warehouse/storage/{{storage._id}}/create_article" method="post">

            <h5 class="createArticleHeading">Create article</h5>
            <div class="input-field col s12">
              <input type="text" name="newArticleName" placeholder="Name">
            </div>
            <div class="input-field col s12">
              <input type="number" name="newArticleQuantity"  placeholder="Quantity">
            </div>
            <button type="submit" class="createArticleButton waves-effect waves-light btn">Create</button>
          </form>

        <div class="singleStorageContent">
          <ul>
            {{#each articles as |article|}}
                <li class="articleLabel">
                  Article name: {{article.name}} | Quantity: {{article.quantity}}
                </li>
            {{/each}}
          </ul>
        </div>


    </div> <!-- /.Page Content -->
</div> <!-- /.Row -->



  <!-- Create basic menu  -->
