<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <!-- Materialize CSS minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Materialize JavaScript minified -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- Styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- JQuery -->
    <script src='/js/jquery/jquery-3.2.1.min.js'></script>
  </head>
  <body>
    <!-- For sanity, don't require user when in development -->
    <!-- {#if user} -->

    <p class="loggedInAs">
      Logged in as: <span class="loggedUser">{{user.username}}</span>
      <a href="/logout" class="adminLogoutButton">Logout</a>
    </p>

    <div class="row"> <!-- Row -->
      <div class="col s3 divForMenu">
        <div class="mainMenu"> <!-- Main menu -->
          <ul>
            <li class="mainMenuLink"><a class="links {{active.home}}" href="/admin/home">Home</a></li>
            <li class="mainMenuLink"><a class="links {{active.warehouse}}" href="/admin/warehouse">Warehouse</a></li>
            <li class="mainMenuLink"><a class="links {{active.manageUsers}}" href="/admin/manage_users">Users</a></li>
            <li class="mainMenuLink"><a class="links {{active.tables}}" href="/admin/tables">Tables</a></li>

          </ul>
        </div> <!-- /.Main Menu -->
      </div>
      <div class="col s9"> <!-- Page Content -->
          {{{body}}}
      </div> <!-- /.Page Content -->
    </div> <!-- /.Row -->

    <!-- {else} -->
        <!--
          <h2>You are not logged in and should not be here :(</h2>
        -->
    <!-- {/if} -->

    <!-- Main JS -->
    <script src='/js/main.js'></script>
  </body>
</html>
